*{
	margin:0;
	padding:0;
}
body{
	padding:20px;
}
#main{
	display: inline-block;
	padding:20px;
	background-color:#eee;
	border:1px #999 solid;
}


#left{
	float: left;
	width: 158px;
	padding:20px;
	background-color:#fff;
	border:1px #999 solid;
}
#left img{
	width: 80px;
	border:1px #999 solid;
}
#left p{
	display: block;
	float:right;
}

#middle{
	margin:0 140px 0 220px;
	padding:20px;	
	background-color:#fff;
	border:1px #999 solid;
}

#right{
	float: right;
	width: 78px;
	padding:20px 20px 0 20px;
	background-color:#fff;
	border:1px #999 solid;
}
#right img{
	width: 80px;
	border:1px #999 solid;
	margin-bottom: 20px;
}
